.property-wrap {
  text-align: center;

  & + .property-wrap {
    margin-top: 8px;
  }

  .logical {
    margin-bottom: 8px;
    border: none;
    border-radius: 3px;
    pointer-events: all;
    background-color: #2a6bc8;

    &:hover,
    &:active {
      background-color: #235397;
    }
  }
}
