@import '../../../../variables';

.property-block-wrap {
  background-color: #252525;
  padding: 10px 0;
  border-radius: 0 0 3px 3px;

  .block-el-type {
    color: #9a9a9a;
    padding: 0 12px;
    font-size: 13px;
    text-transform: capitalize;
  }

  & > div {
    padding: 0 10px;

    & > :first-child {
      margin-top: 8px;
    }
  }

  &.note {
    padding: 15px 0 0;
    background-color: $note-point-color;

    & > div {
      padding: 0;
    }
  }
}
